* {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-size: 20px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#box {
  height: 50vh;
  width: 50vw;
  background-color: white;
}

#input {
  height: 50px;
  font-size: 30px;
}

#bpmtext {
  font-size: 30px;
}